# CSV files (large data files)
*.csv
*.7z

# SQL files (database files)
*.sql
*.sqlite
*.sqlite3
*.db
*.sqlite3-shm
*.sqlite3-wal

# Error logs
processing_errors.log

# Text files (personal notes)
*.txt

# temp Python files
*.pyc

#local config - not public
config.py
temp/


.DS_Store
test_index_performance.py
