# CSV files (large data files)
*.csv

# SQL files (database files)
*.sql
*.sqlite
*.sqlite3
*.db

# Text files (personal notes)
*.txt

# temp Python files
*.pyc

#local config - not public
config.py


.DS_Store